
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/buttons';
@import 'partials/nav';
@import 'partials/forms';


*{box-sizing: border-box;
	@include border-radius($radius);
	}

body{
	// margin: 0 auto;
	font-family: $font-family;
}
.my-container{
  padding-right: 15px;
  padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	clear:both;
}

