
.vertical-form{
	padding: 10px;
	margin:10px 0px 10px;
	border: 1px solid #ddd;
	@include box-shadow();
	background-color:rgba(214,214,214,1);
	color: $a-color;
	.form-group{
		label{
			display:block;
		
		}
		input, textarea {
			display: block;
			border: 1px solid #ddd;
			width:100%;
		
		}
	}
}