//mixins for vendor prefixes
//border radius



// @mixin btn-color($btn-color){
//   background: $btn-color;
//   background-image: -webkit-linear-gradient(top, $btn-color, #000000);
//   background-image: -moz-linear-gradient(top, $btn-color, #000000);
//   background-image: -ms-linear-gradient(top, $btn-color, #000000);
//   background-image: -o-linear-gradient(top, $btn-color, #000000);
//   background-image: linear-gradient(to bottom, $btn-color, #000000);
// }


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin gradient($color1, $color2){
 background: $color2;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);

}


@mixin box-shadow(){

-webkit-box-shadow: 2px 2px 1px 0px $shadow-color;
-moz-box-shadow: 2px 2px 1px 0px $shadow-color;
box-shadow: 2px 2px 1px 0px $shadow-color;
}

//<---- attempting to make a mixin that makes triangles!!!---->

// @mixin triangle($where, $direction, $tri-color){
//   &:#{$where}{
//     position: absolute;
//     bottom: 100%;
//     top: 100%;
//     left: 50%;
//     content: "";
//     display: block;
//     border-#{$direction}: 10px solid $tri-color;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     margin-left: -10px;
//   }
// }
// <------------------------------>




