
nav{
  margin: 0;
  width: auto;
  height: 59px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
  @include gradient($nav-color-start, $nav-color-end);
  border-radius: 0;
  

	ul{
		width: 100%;

		li{
			display: block;
			float: left;
			padding: 24px 30px 20px 30px;
			// border-radius: 0;

			a{
				display: block;
  			color: #eeeeee;
  			font-size: 15px;
  			text-decoration: none;
			}
		}
	}
}

.nav-down{
	@extend nav;
			li{
				&:hover{
					position: relative;
						@include gradient($p-color, $a-color);
						&:after{
							position: absolute;
							top: 100%;
							left: 50%;
							content: "";
							display: block;
							border-top: 10px solid $p-color;
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							margin-left: -10px;
							}
						}
					}
				}
		



.nav-up{
	@extend nav;
	
			li{
				&:hover{
					position: relative;
						@include gradient($p-color, $a-color);
						&:before{
							position: absolute;
							bottom: 0%;
							left: 50%;
							content: "";
							display: block;
							border-bottom: 10px solid $nav-color-end;
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							margin-left: -10px;
							}
						}
					}
				}
			
		
	
					
















